.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 200px;
    gap: 20px;
    position: relative;
    top: -50px;
    .logo {
      width: 150px;
      height: 150px;
      position: relative;
      top: 30px;
      img {
        object-fit: contain;
        width: 150px;
        height: 150px;
      }
    }
    .button {
      width: 100%;
      opacity: 0.5;
    }
  }

  .footer {
    display: flex;
    position: absolute;
    bottom: 5%;
  }
}
