.appHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 16px;
  border-bottom: 1px solid var(--el-border-color-light);
  background-color: var(--el-fill-color-light);

  .actions {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
