.home {
  display: flex;
  height: 100%;
  box-sizing: border-box;

  .top-bar {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: end;
    padding: 0 0 10px 0;
    border-bottom: 1px solid rgb(230, 230, 230);
    color: rgba(80, 80, 80, 0.849);
    background-color: rgba(243, 245, 247, 0.541);
    .el-image {
      position: relative;
      top: 4px;
      width: 50px;
    }
    .el-button {
      color: rgba(80, 80, 80, 0.678);
    }
    .upload {
      color: #9aaec7;
    }
    .delete {
      color: rgba(255, 0, 0, 0.336);
    }
    .el-switch {
      position: relative;
      right: 5px;
      top: 2px;
    }
    .left-block {
      position: absolute;
      left: 10px;
    }
    .switch-block {
      position: relative;
      right: 10px;
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
  .main {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: calc(100% - 160px);
  }
  .side-bar {
    display: flex;
    width: 160px;
    height: 100%;
    opacity: 0.8;
    .project-list {
      z-index: 1;
      height: 100%;
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid rgb(230, 230, 230);
      .project-name {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid rgb(211, 211, 211);
        cursor: pointer;
        color: rgb(120, 154, 192);
        font-weight: 600;
        background-color: rgba(240, 240, 240, 0.418);
        transition: all 0.3s;
        &:hover {
          background-color: rgb(200, 200, 200);
          color: rgb(14, 22, 22);
        }
      }
    }

    .foler-list {
      z-index: 1;
      height: 100%;
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid rgb(230, 230, 230);
      .folder-name {
        width: 100%;
        min-height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid rgb(230, 230, 230);
        cursor: pointer;
        color: rgb(120, 154, 192);
        background-color: rgb(246, 246, 246);
        transition: all 0.3s;
        &:hover {
          background-color: rgba(230, 230, 230, 0.781);
          color: rgb(14, 22, 22);
        }
      }
    }

    .top-icon {
      width: 100%;
      height: 40px;
      background-color: rgb(240, 242, 245);
      border-bottom: 1px solid rgb(223, 222, 222);
      .el-icon {
        font-size: 30px;
        left: calc(50% - 15px);
        top: 5px;
      }
    }
    .top-icon.top-icon-folder {
      cursor: pointer;
      &:hover {
        background-color: rgb(73, 72, 72);
        color: rgb(238, 236, 233);
      }
    }
    .top-icon-function {
      display: flex;
      width: 100%;
      height: 40px;
      background-color: rgb(240, 242, 245);
      border-bottom: 1px solid rgb(223, 222, 222);
      .el-icon {
        display: block;
        position: relative;
        width: 50%;
        font-size: 25px;
        left: 5px;
        top: 7px;
        cursor: pointer;
      }
    }
  }

  .title {
    width: 80%;
    overflow-wrap: break-word;
    white-space: normal;
    text-align: center;
  }
}

.error-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 97vh;

  .error-text {
    position: absolute;
    top: 42%;
    color: red;
    font-size: 60px;
  }
}
